.form-group{
    text-align:left;
}

.flash_message{
    position:absolute;
    top:50%;
    width:100%;
    z-index:10;
}

#changeImg{
    display:none;
}

.row-eq-height{
    height:40vh;
    object-fit: cover;
}

.border{
    border-width:medium !important;
    border-color:#FFA500 !important;
}

.header-bg-color{
    background-color: #FDB36C;
}

.required::after{
    content:"※必須";
    color:red;
}

.footer-bg-color{
    height:10vh;
    background-color:#FDB36C;
}

.btn-color{
    background-color:#f7f0cf;
}