.form-group{
    text-align:left;
}

.flash_message{
    position:absolute;
    top:50%;
    width:100%;
    z-index:10;
}

#changeImg{
    display:none;
.border{
    border-width:medium !important;
    border-color:#FFA500 !important;
.required::after{
    content:"※必須";
    color:red;
}