.form-group{
    text-align:left;
}

.flash_message{
    position:absolute;
    top:50%;
    width:100%;
    z-index:10;
}

#changeImg{
    display:none;
}

.row-eq-height{
    height:45vh;
    object-fit: cover;
}

.border{
    border-width:medium !important;
    border-color:#FFA500;
}

.bg-orange{
    background-color: #FFA500;
}

.required::after{
    content:"※必須";
    color:red;
}

.footer{
    height:10vh;
    background-color:#FFA500;
}